<div class="container">
  <diV class ="text-center">
  <div class="border-bottom">
    <h1>SEARCH</h1>
  </div>
  <h2>Filterable Table</h2>
  <p>Type something in the Search field. You can find all US stocks, derivatives or cryptocurrencies.</p>  
  <br>
  <table id="myTable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>Symbol</th>
        <th>Description</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody id="myTable">
    </tbody>
  </table>
  </div>
</div>