<div class="container">
  <diV class ="text-center">
  <div class="border-bottom">
    <h1>SEARCH</h1>
  </div>
        <h2>Filterable Table</h2>
        <p>Type something in the Search field. You can find all US stocks, deerivatives or cryptocurrencies.</p>  
        <br>
        <table id="myTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Description</th>
              <th>Info</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <% @stocks.each do |stock| %>
            <tr>
              <td><%= link_to stock.display_symbol,stock ,data: {"turbolinks" => false} %></td>
              <td><%= link_to stock.name, stock,data: {"turbolinks" => false} %></td>
              <td><%= stock.info %></td>
            </tr>
            <% end %>
          </tbody>
      </table>
  </div>
</div>