<div class="text-center">
  <h1>STOCK DETAIL</h1>
<h2>株価名</h2>
</div>

<div class="row">
<div class="col-sm-8 offset-sm-2">
  <div class="text-right"><p class="btn btn-dark">ADD</p></div>
  <div id="chart"></div>

   <table class="table">
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>  
    </table>
  </div>
</div>