<div class="container">
  <div class="text-center">
    <h1>DASHBOARD</h1>
  <h2>WATCH LIST</h2>
  </div>
  <div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="text-right"><p class="btn btn-dark">ADD</p></div>
  
     <table class="table">
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>  
      </table>
    </div>
  </div>
</div>