<div class="container">
  <div class="text-center">
    <h1>DASHBOARD</h1>
  <h2>WATCH LIST</h2>
  </div>
  <div class="row">
  <div class="col-lg-8 offset-lg-2">
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Manage</th>
          <th>Symbol</th>
          <th>Description</th>
          <th>Info</th>
        </tr>
      </thead>
        <tbody>
         <% @user.watched_stocks.each do |s| %>
          <tr>
            <td><%= render 'watchlists/add_remove_button', stock: s %></td>
            <td><%= link_to s.display_symbol,s ,data: {"turbolinks" => false} %></td>
            <td><%= link_to s.name, s,data: {"turbolinks" => false} %></td>
            <td><%= s.info %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>