<div class="cover">
  <div class="text-center text-light">
    <h1 class="cover-text">Market Purser</h1>
    <p class="cover-copy">Purse your asset slowly ,like wisely ...</p>
    <%= link_to "START FOR FREE",  signup_path, class: "btn btn-seconry bg-light start-for-free-btn" %>
  </div>
</div>