<div class="Cover">
  <div class="Cover__text text-center text-light">
    <h1 class="Cover__textHeading">Market Purser</h1>
    <p class="Cover__textCopy">Purse your asset slowly ,like wisely ...</p>
    <%= link_to "START FOR FREE",  signup_path, class: "Cover__textBtn btn btn-seconry bg-light" %>
  </div>
</div>