　  <%= image_tag 'top.jpg',class:"w-100 mt-0" %>
　  <div class="absolute text-center">
　    <div class="text-light">
      <h1>MarketPurser</h1>
　    </div>
    <%= link_to "START FOR FREE",  signup_path, class: "btn btn-seconry bg-light" %>
　  </div>