<footer>
    <div>
        <ul class="footer-menu-list">
            <li class="footer-menu-item">START</li>
            <li class="footer-menu-item">ABOUT</li>
        </ul>
    </div>
    <div class="copyright"><small>&copy; MARKET PURSER</small></div> 
</footer>