<footer class="Footer">
    <div class="Footer__menu">
        <ul class="Footer__menuList">
            <li class="Footer__menuListItem">START</li>
            <li class="Footer__menuListItem">ABOUT</li>
        </ul>
    </div>
    <div class="Footer__copyright"><small>&copy; MARKET PURSER</small></div> 
</footer>